.profile {
  margin-left: 50px;
  text-align: center;
}
.description {
  width: 300px;
  text-align: center;
  border: solid 2px black;
  background-color: skyblue;
}

.avatar {
  width: 100%;
  border-radius: 50%;
}

.stats {
  display: flex;
  gap: 20px;
  border-bottom: solid 2px grey;
  border-left: solid 2px grey;
  border-right: solid 2px grey;
  width: 260px;
  margin-top: 0;
  background-color: bisque;
}

.quantity {
  display: flex;
}
