.statistics {
  margin-left: 50px;
  width: 300px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.statList {
  display: flex;

  width: 250px;
  padding-left: 0;

  border: 2px solid black;
}

.percentage {
  display: flex;
}

.item {
  border-right: 1px solid black;
  background-color: lightgray;
  width: 50px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.item:last-of-type {
  border-right: 0;
}
