.type {
  width: 100px;
  border: 2px solid black;
  padding: 0;
}

.transactionHistory {
  text-align: center;
  margin-left: 50px;
}

.amount {
  border: 2px solid black;
  padding: 0;
}

.currency {
  border: 2px solid black;
  padding: 0;
}

.contents {
  border: 2px solid black;
  padding: 0;
  background-color: burlywood;
}
